/* Flex */

body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    background-color: #170130ea;
    
}

body {
    margin-bottom: 100px;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    text-align: center;
    margin-top: -650px;
    margin-block-end: 10px;
    margin-left: 50px;
    padding-left: 50px;
    color: gold;
    font-family:'Griffy', cursive;
    font-size: 90px;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}



.flex > div {
    flex: 1 1 200px;
    margin: 10px;
    margin-top: 50px;
}


/* icon */

.icon {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding-top: -30px;
}

.icon img {
    width: 90px;
    padding-top: -30px;
    
}

/* Card */

.card {
    width: 300px;
    padding: 25px;
    background-color: rgba(56, 38, 3, 0.815);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
    background-image: transparent;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(70, 3, 3);
    border-right: 20px solid rgb(70, 3, 3);
}

.card1 {
    width: 300px;
    padding: 25px;
    background-color: rgba(56, 38, 3, 0.815);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(70, 3, 3);
    border-right: 20px solid rgb(70, 3, 3);
}

.card2 {
    width: 300px;
    padding: 25px;
    background-color: rgba(56, 38, 3, 0.815);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(70, 3, 3);
    border-right: 20px solid rgb(70, 3, 3);
}

.card3 {
    width: 300px;
    padding: 25px;
    background-color: rgba(56, 38, 3, 0.815);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(70, 3, 3);
    border-right: 20px solid rgb(70, 3, 3);
}

.card4 {
    width: 300px;
    padding: 25px;
    background-color: rgba(56, 38, 3, 0.815);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card4::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(70, 3, 3);
    border-right: 20px solid rgb(70, 3, 3);
}

.card5 {
    width: 300px;
    padding: 25px;
    background-color: rgba(56, 38, 3, 0.815);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card5::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(70, 3, 3);
    border-right: 20px solid rgb(70, 3, 3);
}

.card6 {
    width: 300px;
    padding: 25px;
    background-color: rgba(56, 38, 3, 0.815);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card6::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(70, 3, 3);
    border-right: 20px solid rgb(70, 3, 3);
}

.card7 {
    width: 300px;
    padding: 25px;
    background-color: rgba(17, 51, 30, 0.769);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card7::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(3, 70, 13);
    border-right: 20px solid rgb(3, 70, 13);
}

.card8 {
    width: 300px;
    padding: 25px;
    background-color: rgba(17, 51, 30, 0.769);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card8::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(3, 70, 13);
    border-right: 20px solid rgb(3, 70, 13);
}

.card9 {
    width: 300px;
    padding: 25px;
    background-color: rgba(17, 51, 30, 0.769);
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.card9::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(3, 70, 13);
    border-right: 20px solid rgb(3, 70, 13);
}



/* Content */

.content {
    height: 280px;
    overflow: hidden;
    position: relative;

}


.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 60px;
    position: relative;
    color: gold;
    font-family:'Bigelow Rules', cursive;
    margin-top: -30px;
}

.content p {
    color: rgb(202, 152, 3);
    font-family: 'Times New Roman', Times, serif;
}


/* button */

#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_ {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_b {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_b:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_bu {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_bu:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_but {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_but:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_butt {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_butt:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_butto {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_butto:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_button1 {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button1:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

#read_button2 {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(70, 3, 3);
    color: gold;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button2:hover {
    background-color: transparent;
    color: rgb(70, 3, 3);
    transition: all 0.2s ease-in-out;
}

/* Active */

.card.active .content {
    height: auto;
}

.card.active .content::before {
    visibility: hidden;
}

.card1.active .content {
    height: auto;
}

.card1.active .content::before {
    visibility: hidden;
}

.card2.active .content {
    height: auto;
}

.card2.active .content::before {
    visibility: hidden;
}

.card3.active .content {
    height: auto;
}

.card3.active .content::before {
    visibility: hidden;
}

.card4.active .content {
    height: auto;
}

.card4.active .content::before {
    visibility: hidden;
}

.card5.active .content {
    height: auto;
}

.card5.active .content::before {
    visibility: hidden;
}

.card6.active .content {
    height: auto;
}

.card6.active .content::before {
    visibility: hidden;
}

.card7.active .content {
    height: auto;
}

.card7.active .content::before {
    visibility: hidden;
}

.card8.active .content {
    height: auto;
}

.card8.active .content::before {
    visibility: hidden;
}

.card9.active .content {
    height: auto;
}

.card9.active .content::before {
    visibility: hidden;
}


/* Barra Lateral */

* {
    padding: 0;
    margin: 0;
    font-family: 'Griffy', cursive;;
}

a {
    font-family: sans-serif;
    text-decoration: none;
  }
  
  .header {
    background: rgba(56, 38, 3, 0.815);
    padding-inline-end: 100px;
  }
  
  .nav {
    max-width: 1500px;
    height: 110px;
    margin-inline: auto;
    margin-block-end: 100px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 48px;
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: gold;
    padding-block: 16px;
  }
  
  .hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("./bg.jpg");
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid gold;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: gold;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  @media (max-width: 900px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: black;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
      
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 0;
    
      pointer-events: none;

      margin-top: -90px;
    
    }
    
    .nav-list a {
      font-size: 20px;
      padding: 10px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

